<div class="container">
  <h1>{{ title }}</h1>
  <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
  <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">
    <input
      type="text"
      required
      #name="ngModel"
      name="name"
      placeholder="Type your name"
      ngModel
    />
    <br />
    <span *ngIf="name.invalid && name.touched" style="color: red"
      >Please enter valid input</span
    >
    <br />

    <input
      type="password"
      required
      minlength="5"
      pattern="[a-z A-Z]+$"
      #password="ngModel"
      name="password"
      ngModel
      placeholder="add your password"
    />
    <br />
    <span *ngIf="password.invalid && password.touched" style="color: red"
      >Please enter valid password</span
    >
    <br />
    <input
      type="email"
      name="email"
      #email="ngModel"
      required
      placeholder="enter your email"
      email
      ngModel
    />
    <br />
    <span *ngIf="email.invalid && email.touched" style="color: red"
      >Please enter valid email</span
    >

    <br />

    <button [disabled]="loginForm.invalid">Login</button>
  </form>
  <button type="submit" (click)="loginUser(loginForm.value)">
    Login outside form
  </button>
  <br />
  <br />
  <app-login></app-login>
</div>
